.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-image: url("./images/MadeCodeTest-0.png");*/
  background-size: 100% 119%;
  height: 100vh;
  font-family: 'Merriweather Sans', sans-serif;
}

.App-logo {
  height: 52vw;
  margin-top: 3vh;
}

.App-header {
  background: linear-gradient(hsl(30,100%,91%), hsl(14,97%,81%));
  height: 20.87vh;
  width: 100%;
  box-shadow: 0 0 2vh #777;
  display: flex;
  justify-content: center;
}

.App-intro {
  font-size: large;
}

.Nav-bar {
  background: hsl(300,1%,21%);
  color: hsl(300,2%,83%);
  height: 6.2vh;
  box-sizing: border-box;
  font-size: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width:100%;
}

.Save-button-container {
  width: 86%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.4vh;
  height: 6.3vh;
}

.Footer {
  background: hsl(300,1%,21%);
  height: 3vh;
  margin-top: 2.2vh;
  width: 100%;
}

h1 {
  margin-top: 2.8%;
  margin-left: 26%;
  font-size: 2.65vh;
  letter-spacing: .14vw;
}

.Main-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media screen and (min-width: 360px) {
  h1 {
    margin-left: 29.4%;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .App-logo {
    height: 38vw;
  }

  .Nav-bar {
    height: 8.2vh;
  }

  h1 {
    margin-left: 35.4%;
    font-size: 3.65vh;
  }

  textarea,
  input {
    font-size: 2vh;
  }

}

@media (orientation: landscape) {
  .Main-area {
    flex-direction: row;
    height: 85vh;
    justify-content: space-between;
  }

  .Nav-bar {
    height: 10vh;
  }
  h1 {
    margin-left: 50.4%;
    margin-top: 1%;
    font-size: 5.65vh;
  }

  .App-header {
    height: 103%;
    margin-top: 1.3%;
    width: 25vw;
  }

  .App-logo {
    height: 28vw;
    margin-top: 3vh;
    margin-left: 12vw;
  }

  .Form-group {
    width: 68%;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .App-header {
    margin-top: 2%;
  }
}

@media screen and (min-width: 1367px) and (orientation: landscape) {
  .App-logo {
    height: 26vw;
  }

  .App-header {
    margin-top: 1.3%;
  }
}