.Save-button {
    color: #fff;
    background: linear-gradient(hsl(30,100%,91%), hsl(14,97%,81%));
    border: none;
    outline: none;
    font-family: 'Merriweather Sans', sans-serif;
    width: 42%;
    height: 100%;
    font-size: 2.6vh;
    border-radius: 25px;
    text-decoration: none;
    user-select: none;
}

.Save-button:active {
    color: #eee;
    background: linear-gradient(hsl(14,97%,81%), hsl(30,100%,91%));
}